.about-container {
    margin-top: 100px !important;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--primary-color);
    background-color: white;
  }
  
  h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    margin-top: 20px;
    background-color: white;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .icon {
    font-size: 20px;
    color:var(--primary-color);
  }
  