
<div class="form-wrapper">
    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <mat-card class="sign-up-card">
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
            @if(this.registerForm.get('name')?.invalid && registerForm.get('name')?.touched){
            <mat-error>
              Name is required and at least 3 characters
            </mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            @if(this.registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
            <mat-error>
              Email is required
            </mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            @if(this.registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
            <mat-error>
              Password is required
            </mat-error>
            }
          </mat-form-field>
  
          <div class="full-width role-container">
            <label>Role:</label>
            <mat-radio-group formControlName="role" class="role-radio-group">
              <mat-radio-button class="role-radio" value="admin">Admin</mat-radio-button>
              <mat-radio-button class="role-radio" value="student">Student</mat-radio-button>
              <mat-radio-button class="role-radio" value="teacher">Teacher</mat-radio-button>
            </mat-radio-group>
            @if(this.registerForm.get('role')?.invalid && registerForm.get('role')?.touched){
            <mat-error>
              Role is required
            </mat-error>
            }
          </div>
  
          <button mat-raised-button class="submit-button" type="submit" [disabled]="registerForm.invalid">
            Submit
          </button>
        </mat-card-content>
      </mat-card>
    </form>
    <a routerLink="/login" class="login-link">Have an account? Sign in</a>
  </div>
  