<div class="container">
        <div class="card-wrapper">
            <div
                style="width: 300px; height: 500px; display: flex; flex-direction: column;justify-content: space-between;">
                @if(openUpdate){
                <ng-container>
                    <app-lesson-update [lessonId]="lessonId" [courseId]="courseId"
                        (updateLessonEvent)="IsupdateLesson()"></app-lesson-update>
                </ng-container>
                }
                @if(IsAdding){
                <ng-container>
                    <form [formGroup]="lessonForm" (ngSubmit)="addLesson()" class="lesson-form">
                        <h3 style="color: white; ">Add lesson:</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title" required />
                            <mat-error *ngIf="lessonForm.get('title')?.invalid && lessonForm.get('title')?.touched">
                                Title is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Content</mat-label>
                            <input matInput formControlName="content" required />
                            @if(this.lessonForm.get('content')?.invalid && lessonForm.get('content')?.touched){
                            <mat-error>
                                Content is required
                            </mat-error>
                            }

                        </mat-form-field>

                        <button mat-raised-button color="primary" [disabled]="lessonForm.invalid"
                            type="submit">Submit</button>
                    </form>
                </ng-container>
                }
            </div>

            <mat-card class="course-card" id="card" style="width: 500px;">
                <mat-card-header>
                    <div mat-card-avatar class="course-image"></div>
                    <mat-card-title id="title">{{ (course$ | async)?.title }}</mat-card-title>
                    <mat-card-subtitle>ID: {{ (course$ | async)?.id }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/hero-girl-blue.png" alt="Course Image" />
                <mat-card-content>
                    <p><strong>Teacher ID:</strong> {{ (course$ | async)?.teacherId }}</p>
                    <p><strong>Description:</strong> {{ (course$ | async)?.description }}</p>
                    @if((lessons$|async)!==null&&(lessons$|async)!.length>0){
                    <ng-container>
                        <p><strong>Lessons:</strong></p>
                        <mat-list>
                            @for(l of (lessons$|async);track l.id){
                            <mat-list-item>
                                <span>Lesson: {{ l.id }} - {{ l.title }}: {{ l.content }}</span>
                                @if(getAuthRole()=='teacher'){
                                <ng-container>
                                    <button mat-icon-button color="warn" (click)="deleteLesson(l.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="updateLesson(l.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </ng-container>
                                }

                            </mat-list-item>
                            }

                        </mat-list>
                    </ng-container>
                    }
                    @else {
                    <p>No lessons available</p>}
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button color="warn" (click)="handelOpen()">add lesson</button>
                </mat-card-actions>
            </mat-card>
        </div>



</div>
<router-outlet></router-outlet>